:root {
  --fg-color: hsl(0, 0%, 2%);
  --fg-dark-color: hsl(0, 0%, 42%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-dark-color: hsl(0, 0%, 86%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: hsl(0, 0%, 93%);
    --fg-dark-color: hsl(0, 0%, 42%);
    --bg-color: hsl(0, 0%, 7%);
    --bg-dark-color: hsl(0, 0%, 16%);
  }
}
